
/SearchEngine/latihanSTBI/lib
/SearchEngine/latihanSTBI/nbproject/private
/SearchEngine/latihanSTBI/dist
/SearchEngine/latihanSTBI/build

/SearchEngine/GUI Search Engine/lib
/SearchEngine/GUI Search Engine/nbproject/private
/SearchEngine/GUI Search Engine/dist
/SearchEngine/GUI Search Engine/build
